.moneyContainer {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
  position: sticky;
  top: 0;
}
.moneyContainer p {
  font-size: 2rem;
  color: white;
}
