.receiptContainerDiv {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.receiptItemInfo {
  width: 320px;
  display: flex;
  justify-content: space-between;
}
.receiptItemInfo span {
}
.receiptItemTitle {
  width: 50%;
}
.receiptItemQuantity {
  width: 10%;
}
.receiptItemPrice {
  text-align: right;
  width: 40%;
}
