.gridContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 320px));
  gap: 1rem;
  justify-content: center;
}
.carddiv {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(247, 239, 239);
  height: 300px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.carddiv img {
  height: 40%;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #333333;
}
.cardPrice {
  color: #3dca94;
  font-size: 1.2rem;
  font-weight: bolder;
}
.buyOptionsDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.sellBtn {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: rgba(222, 22, 22, 1);
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
}
.sellBtn:disabled {
  border: initial;
  background-color: rgba(222, 22, 22, 0.5);
}

.priceInput {
  width: 100px;
}
.buyBtn {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background: rgb(196, 235, 154);
  background: linear-gradient(
    6deg,
    rgba(196, 235, 154, 1) 0%,
    rgba(59, 198, 71, 1) 100%
  );
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
}
