.headerContainer {
  width: 100%;
  height: 300px;
  background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerContainer img {
  border-radius: 50%;
  width: 120px;
}
.headerContainer h1 {
  color: #333333;
  font-size: 2rem;
  padding: 0rem 1rem;
  text-align: center;
}
